.footer {
    position: fixed;
    justify-content: flex-start;
    left:0;
    bottom: 0px;
    box-sizing: border-box;
}


.footer > a {
    text-decoration: none;
}


.footer > a > span {
    margin-left: 36px;
}

.footer > a:nth-child(1) > span {
    margin-left: 0;
}

.footer > span:nth-last-child(1) {
    margin-left: auto;
}